<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>명언 한구절</title>

    <style>
        body {
          margin: 0;
        }
        .container {
          width: 100vw;
          height: 100vh;
          background: url("https://cdn.discordapp.com/attachments/1016485712029302920/1047176266895347782/shanghai.png");
          background-size: 100% 100%;
          background-position: center;
        }
      </style>
</head>
<body>
    <div class="container"></div>
    <h1>!</h1>
</body>
</html>